/* stylelint-disable @stylistic/selector-list-comma-newline-after */

.blog-header-logo, .display-4 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif !important;
  font-weight: 900 !important;
  font-size: 3.5rem !important;
}


.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Amiri, Georgia, "Times New Roman", serif;
  font-style: italic;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}


