{% extends "base/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
       <div class="col-md-3">
            <div class="d-flex flex-column" aria-orientation="vertical" >
                <a href="{% url 'dashboard' %}" class="nav-link text-body mb-2 {% if '/dashboard/' == request.path %}bg-secondary{% endif %}">Dashboard</a>
                {% if perms.auth.view_user %}
                <a href="{% url 'users' %}" class="nav-link text-body mb-2 {% if '/users/' in request.path %}bg-secondary{% endif %}">Users</a>
                {% endif %}
                {% if perms.BlogApp.view_category %}
                <a href="{% url 'categories' %}" class="nav-link text-body  mb-2 {% if '/categories/' in request.path %}bg-secondary{% endif %}">Categories</a>
                {% endif %}
                {% if perms.BlogApp.view_blogs %}
                <a href="{% url 'posts' %}" class="nav-link text-body mb-2 {% if '/posts/' in request.path %}bg-secondary{% endif %}">Blog Posts</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="nav-link text-body">Logout</a>
            </div>
       </div>
    

       <div class="col-md-9">
        
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="m-0">Blogs</h4>
                <a href="{% url 'add_posts' %}" class="btn btn-secondary">Create a New Blog</a>
            </div>

            <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Blog Title</th>
                <th>Category</th>
                <th>Author</th>
                <th>Status</th>
                <th>Featured</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              
              
              <tr>
                  {% for post in posts %}
                <th>{{forloop.counter}}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.category }}</td>
                <td>{{ post.author }}</td>
                <td>{{ post.status }}</td>
                <td>{% if post.is_featured %}<i class="fa fa-check text-success">{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                <td>
                  <a href="{% url 'edit_posts' post.id %}"><i class="fa fa-edit text-success"></i></a> &nbsp;&nbsp;
                  <a href="{% url 'delete_posts' post.id %}"><i class="fa fa-trash text-danger"></i></a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <div>
    </div>
</div>
{% endblock %}